<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <variable constant="0" name="count" sid="189586093700061" static="0" type="number">0</variable>
        <event-block sid="445617360231566">
            <conditions>
                <condition id="6" name="On object clicked" sid="519534153570331" type="Mouse">
                    <param id="0" name="Mouse button">0</param>
                    <param id="1" name="Click type">0</param>
                    <param id="2" name="Object clicked">Start</param>
                </condition>
            </conditions>
            <actions>
                <action id="-25" name="Go to layout (by name)" sid="979618918602065" type="System">
                    <param id="0" name="Layout">&quot;Level1&quot;</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="635155878270168">
            <conditions>
                <condition id="6" name="On object clicked" sid="263982716060322" type="Mouse">
                    <param id="0" name="Mouse button">0</param>
                    <param id="1" name="Click type">0</param>
                    <param id="2" name="Object clicked">Credits</param>
                </condition>
            </conditions>
            <actions>
                <action id="-25" name="Go to layout (by name)" sid="113393421043106" type="System">
                    <param id="0" name="Layout">&quot;Credits&quot;</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="942948075648544">
            <conditions>
                <condition id="-2" name="On start of layout" sid="158403970012527" type="System" />
            </conditions>
            <actions>
                <action id="12" name="Set repeat-to frame" sid="713583713114252" type="title">
                    <param id="0" name="Frame number">3</param>
                </action>
                <action id="-13" name="Set time scale" sid="487781044814778" type="System">
                    <param id="0" name="Time scale">1.0</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
